@import "libs/normalize.scss";

$page-bg-color: #b3b3b3;
$border-color: #030000;
$green-color: #015903;
$red-color: #7e0001;
$blue-color: #00007a;
$yellow-color: #d49c25;
$central-bg-color: #767676;
$title-bg-color: #dddddd;
$button-text-color: #222222;
$screen-color:#2c0001;
$score-color:#881518;
$checkbox-bg-color:#3b90e3;
$checked-color:#80ccff;
